.img{

        background-image: url("../asste/pro2.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        height: 100vb;
    }
.p{
    height: 100vh;
    align-items: center;
}
.nice{
    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
    
}
.wel{
    font-family: initial;
}
.icon{
    font-size: 65px;
    
}
.rownde{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.bg{
    background-color: #f8f9fa;
}
.hover:hover{
    color: rgb(193, 193, 163) !important;
}
.rounded-6{
    width: 180px;
    height: 180px;
    color: white;
    border-radius: 100%;
    background-color: #ffc800;
}
.hh{
    width: 10px;
    height:10px;
    padding: 8px;
    border-radius: 30px;
    display: flex;
}
.img1{
    height: 100%;
    width: 100%;
}
.img2{
    background-color: #212529;
    background-image: url("../asste/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}
.ho:hover{
    color: yellow !important;
}