.START{
    background-color: rgb(68, 46, 85);
}
.b{
    
    background-color:  #1abc9c;
    
}
.a{
    
    background-color:#1abc9c;
    
}
.eee{
    color: white;
}
.parents{
    background-color: #1abc9c;

}